@use '@/styles/links' as l;

.header {
  margin-bottom: 16px;
}

.logo {
  display: flex;
  align-items: center;

  &_link {
    border: none;

    h2 span {
      @include l.link-border;
    }

    &:hover {
      h2 span {
        @include l.link-border-hover;
      }
    }
  }
}

.links {
  margin: 8px 0 0 0;
  list-style-type: none;
  padding: 0;
  display: flex;

  li {
    font-weight: bold;
    font-size: 28px;
    margin-left: 24px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.title {
  font-weight: bold;
  font-size: 28px;
  margin: 0 0 0 8px;
}

@media screen and (min-width: 546px) {
  .header {
    display: flex;
    align-items: center;
  }

  .links {
    margin-top: 0;

    li:first-child {
      margin-left: 24px;
    }
  }
}
