@font-face {
  font-family: "PT Mono";
  src: url("/font/PT-Mono_Regular.woff2") format("woff2"), url("/font/PT-Mono_Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Mono";
  src: url("/font/PT-Mono_Bold.woff2") format("woff2"), url("/font/PT-Mono_Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@mixin transition($time) {
  transition-property: color, background-color;
  transition-timing-function: ease-out;
  transition-duration: $time;
}

:root {
  --background: #f5f5f5;
  --text: #595b4a;
  --heading: #ba3731;
  --link: rgb(26, 127, 182);
  --link-underline: rgba(26, 127, 182, 0.3);
  --link_hover: rgb(90, 149, 60);
  --link-underline_hover: rgb(90, 149, 60);
  --input-background: rgba(0, 0, 0, 0);
  --input-text: #595b4a;
  --input-border: #595b4a;
  --input-placeholder: #acacac;
}

[data-theme="dark"] {
  --background: #1e1e1e;
  --text: #d4d4d4;
  --heading: #be6c4a;
  --link: rgb(36, 147, 207);
  --link-underline: rgba(36, 147, 207, 0.3);
  --link_hover: rgb(158, 187, 143);
  --link-underline_hover: rgb(158, 187, 143);
  --input-background: rgba(0, 0, 0, 0);
  --input-text: #d4d4d4;
  --input-border: #d4d4d4;
  --input-placeholder: #646464;
}

body {
  padding: 8px;
  margin: 0 auto;
  font-size: 18px;
  font-family: "PT Mono";
  background-color: var(--background);
  color: var(--text);
  max-width: 1152px;
  @include transition(0.2s);
}

h1,
h2 {
  font-size: 32px;
  margin: 0 0 16px 0;
  color: var(--heading);
}

p {
  line-height: 28px;
  margin: 0 0 16px 0;
}

a {
  color: var(--link);
  text-decoration: none;
  border-bottom: 1px solid var(--link-underline);
  @include transition(0.33s);
}

a:hover {
  color: var(--link_hover);
  border-bottom-color: var(--link-underline_hover);
  transition: none;
}

@media screen and (min-width: 768px) {
  body {
    padding: 16px;
  }
}

input[type="number"],
input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--input-background);
  color: var(--input-text);
  font-size: 18px;
  font-family: "PT Mono";
  border: 1px solid var(--input-border);

  &::placeholder {
    color: var(--input-placeholder);
  }
}

textarea {
  resize: vertical;
  overflow: auto;
}

label {
  display: block;
  margin-top: 16px;
}

label > span {
  display: block;
  margin-bottom: 8px;
  line-height: 28px;
}
