body {
  padding: 8px;
  margin: 0 auto;
  font-size: 18px;
  font-family: "PT Mono";
  background-color: #1e1e1e;
  color: #d4d4d4;
  max-width: 1152px;
}

h1,
h2 {
  font-size: 32px;
  margin: 0 0 16px 0;
  color: #be6c4a;
}

p {
  line-height: 28px;
  margin: 0 0 16px 0;
}

a {
  color: #2493cf;
  text-decoration: none;
  border-bottom: 1px solid rgba(36, 147, 207, 0.3);
  transition-property: color, background-color;
  transition-timing-function: ease-out;
  transition-duration: 0.33s;
}

a:hover {
  color: #9ebb8f;
  border-bottom-color: rgba(158, 187, 143);
  transition: none;
}

@media screen and (min-width: 768px) {
  body {
    padding: 16px;
  }
}

input[type="number"],
input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  color: #d4d4d4;
  font-size: 18px;
  font-family: "PT Mono";
  border: 1px solid #d4d4d4;

  &::placeholder {
    color: #646464;
  }
}

textarea {
  resize: vertical;
}

label {
  display: block;
  margin-top: 16px;
}

label > span {
  display: block;
  margin-bottom: 8px;
  line-height: 28px;
}
